body {
    margin: auto 15px;
    font-family:monospace;
    background: lightgray;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 100%;
}

.header {
   width: 100%;
    padding-top: 10px;
    text-align: center;
}

.nav{
    font-size: 14px;
    text-transform: uppercase;
   width: 100%;
    text-align: right;
}

.intro{
    width: 100%;
    text-align: center;
}

.intro_text{
   width: 100%;
    text-align: center;
    font-size: 25px;
}

.footer{
    position: absolute;
    bottom: 0px;
}