html
{
    font-size: 20px;
}

body
{
    font-size: 20px;
}

/*   Navigation   */

.main-nav
{
    width: 100%;
    display: table;
    background: lightblue;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    line-height: 60px;
}

.logo
{
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.second-nav
{
    font-size: 85%;
    word-spacing: 10px;

}

.linked
{
    color: black;
    text-decoration: none;
    border: solid 1px;
    padding: 2px 50px;  
}

.nav_list{
    
    text-align: left;
    font-style: italic;
    font-weight: 750;
}

/*    Banner    */

.banner{
    background: url(../Image/banner_logo.jpg),no-repeat;
    text-align: center;
    padding: 100px;
    font-size: 50px;
    background-attachment: scroll, scroll, scroll, fixed;
	background-position: bottom left, bottom right, top left, top center;
    color: white;
	background-size: cover;
}

/* row */
.row {
    border-bottom: solid 1px transparent;
    
}

.row > * {
    float: left;
}

.row > * {
    padding: 50px 0 0 50px;
}

.row:after, .row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

/* Grid */
.grid-2
{
    width: 50%;
    clear: none;
    margin-left: 0;
}

/* ------ */

.special
{
    text-align: center;    
}


/* img scroll */

.bg {
    
    background-image: url(../Image/scroll.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
    width: 100%;
}


